@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.ttf");
  font-display: block; }
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Thin.ttf");
  font-display: block;
  font-weight: 300; }

body {
  font-family: Arial, sans-serif;
}

.calc-area {
  input {
    width: 100px;
  }

  select {
    width: 200px;
  }
}

#alertContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 16px;
}